<launch>
    <arg name="freq" default="10"/>
    <arg name="enable_record" default="false"/>

    <node
        pkg="beginner_tutorials"
        name="talker1"
        type="talker"
        output="screen"
        args="$(arg freq)"
    />
    <node
        pkg="beginner_tutorials"
        name="listener1"
        type="listener"
        output="screen"
        launch-prefix="gnome-terminal --command"
    />

    <node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -o /home/yitinglei/catkin_ws/src/beginner_tutorials/results/"  	  
        output="screen"
        if="$(arg enable_record)"
    />
</launch>
